@font-face {
    font-family: Rubik;
    src: url("fonts/Rubik-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Rubik;
    src: url("fonts/Rubik-Medium.ttf");
    font-weight: 500;
    font-style:normal;
}

@font-face {
    font-family: Rubik;
    src: url("fonts/Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Rubik, serif;
    font-weight: normal;
    background-color: #ECEAF5;
}
.nav,
.home,
.middle,
.tasks,
.area,
.stages,
.footer{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* header */

header{
    margin: 30px 0 110px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav a{
    text-decoration: none;
}

.nav a:visited{
    color: black;
}
.nav h1{
    font-size: 50px;
    font-weight: bold;
    clear: both;
    color: black;
}

.nav h1 span{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #8E6FBD, #BE5CD7);
}
.menu{
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    float: left;
}

.menu a{
    font-size: 20px;
    font-weight: 500;
    display: block;
    color: black;
    padding-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li:last-child a{
    padding-right: 0;
}

.contacts{
    display: flex;
    align-items: center;
}

.contacts h6{
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    padding-right: 10px;
    display: inline;
}

/* home */

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 125px;
}

.home-introduction{
    max-width: 764px;
}

.home-introduction h2{
    max-width: 600px;
    font-size: 60px;
    font-weight: bold;
}

.home-introduction div{
    max-width: 700px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.home-advantages {
    display: flex;
    flex-wrap: wrap;
    max-width: 764px;
    padding-top: 60px;
    margin-bottom: 30px;
}

.home-advantages .advantage{
    display: flex;
    max-width: 362px;
    margin-left: 30px;
    margin-top: 30px;
    align-items: center;
}

.home-advantages .advantage:nth-child(odd){
    margin-left: 0;
}


.home-advantages .advantage:nth-child(-n + 2){
    margin-top: 0;
}

.home-advantages .advantage p{
    max-width: 305px;
    padding-left: 15px;
    color: #404040;
}

.btn button{
    font-size: 20px;
    font-weight: 500;
    width: 300px;
    height: 60px;
    color: white;
    background-color: #8E6FBD;
    border: none;
    border-radius: 20px;
}

.btn button:hover{
    background-color: #5b4081;
}

/* middle */

.middle-container{
    background-color: #CEC3EB;
}

.middle{
    position: relative;
}

.middle-introduction{
    padding: 50px 140px 0;
    text-align: center;
    margin-bottom: 40px;
}

.middle-introduction h2{
    color: black;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.middle-introduction p{
    font-size: 20px;
    color: #404040;
    font-weight: normal;
}

.middle > svg{
    top:4vh;
    position: absolute;
}

.middle .left-tool{
    left:0;
}

.middle .right-tool{
    right: 0;
}

.capabilities p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.capability-container{
    display: flex;
    justify-content: space-between;
    color: #404040;
    padding-bottom: 30px;
}


.capability-list-one, .capability-list-two{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.capability-list-one .capability, .capability-list-two .capability{
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 500px;
}

.capability div:before{
    content: url("assets/middle/menu_circle.svg");
    display: flex;
    align-items: center;
    padding-right: 15px;
    color: #8E6FBD;
}

.capability div{
    display: flex;
}

.middle .btn{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

/* tasks */

.tasks{
    padding-top: 50px;
}

.tasks-introduction{
    text-align: center;
    margin-bottom: 50px;
}

.tasks-introduction h2{
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 30px;
}

.tasks-introduction p{
    font-size: 20px;
    font-weight: normal;
}

.available-tasks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.available-tasks .at-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 440px;
}

.at-block .at-task{
    margin-bottom: 30px;
}

.at-block .at-task h3{
    font-size: 20px;
    font-weight: 500;
    color: #8E6FBD;
    padding-bottom: 10px;
}

.at-block .at-task p{
    font-size: 20px;
    color: #404040;
}

/* area */

.area-container{
    background-image: url("assets/area/area-background.png");
}


.area h2{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 60px 0 40px;
}

.area-block{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 110px;
}

.area-block .ab-info{
    max-width: 550px;
    width: 100%;
}

.area-block .ab-info:nth-child(even){
    margin-left: 50px;
}

.area-block .ab-info:not(:nth-child(-n+2)){
    margin-top: 20px;
}

.area-block .ab-info h3{
    font-size: 20px;
    font-weight: 500;
    color: #8E6FBD;
    margin-bottom: 20px;
}

.area-block .ab-info .ab-text{
    font-size: 20px;
    display: flex;
    color: #404040;
    margin-top: 15px;
}

.area-block .ab-info .ab-text:before{
    content: url("assets/middle/menu_circle.svg");
    display: flex;
    align-items: center;
    padding-right: 25px;
    color: #8E6FBD;
    transform: scale(0.9);
}

/* stages */

.stages{
    padding: 60px 0;
}

.stages h2{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.stages .stages-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.stages-column .stage:first-child{
    margin-bottom: 55px;
}

.stages-block .stages-column .stage{
    max-width: 390px;
    font-size: 20px;
}

.stages-column .stage h3{
    font-weight: 500;
    color: #8E6FBD;
    margin-bottom: 5px;
}

.stages-column .stage h4{
    font-weight: 500;
    margin-bottom: 10px;
}

.stages-column .stage p{
    color: #404040;
}

.stages .btn{
    display: flex;
    justify-content: center;
}

/* footer */

footer{
    background-color: #4D3475;
}

.footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.footer a{
    text-decoration: none;
}

.footer a:visited{
    color: black;
}
.footer h1{
    font-size: 50px;
    font-weight: bold;
    clear: both;
    color: black;
}

.footer h1 span{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #8E6FBD, #BE5CD7);
}

.footer .contacts{
    color: #fff;
}