@font-face {
    font-family: Rubik;
    src: url("fonts/Rubik-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Rubik;
    src: url("fonts/Rubik-Medium.ttf");
    font-weight: 500;
    font-style:normal;
}

@font-face {
    font-family: Rubik;
    src: url("fonts/Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    font-family: Rubik, serif;
    font-weight: normal;
    background-color: #ECEAF5;
}
.nav,
.home,
.middle{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* header */

header{
    margin: 30px 0 110px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    font-size: 50px;
    font-weight: bold;
    clear: both;
    color: black;
}

.nav h1 span{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #8E6FBD, #BE5CD7);
}
.menu{
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    float: left;
}

.menu a{
    font-size: 20px;
    font-weight: 500;
    display: block;
    color: black;
    padding-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li:last-child a{
    padding-right: 0;
}

.contacts{
    display: flex;
    align-items: center;
}

.contacts h6{
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    padding-right: 10px;
    display: inline;
}

/* home */

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 125px;
}

.home-introduction{
    max-width: 764px;
}

.home-introduction h1{
    max-width: 600px;
    font-size: 60px;
    font-weight: bold;
}

.home-introduction div{
    max-width: 700px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.home-advantages {
    display: flex;
    flex-wrap: wrap;
    max-width: 764px;
    padding-top: 60px;
    margin-bottom: 30px;
}

.home-advantages .advantage{
    display: flex;
    max-width: 362px;
    margin-left: 30px;
    margin-top: 30px;
    align-items: center;
}

.home-advantages .advantage:nth-child(odd){
    margin-left: 0;
}


.home-advantages .advantage:nth-child(-n + 2){
    margin-top: 0;
}

.home-advantages .advantage p{
    max-width: 305px;
    padding-left: 15px;
    color: #404040;
}

.btn button{
    font-size: 20px;
    font-weight: 500;
    width: 300px;
    height: 60px;
    color: white;
    background-color: #8E6FBD;
    border: none;
    border-radius: 20px;
}

.btn button:hover{
    background-color: #5b4081;
}

/* middle */

.middle-container{
    background-color: #CEC3EB;
}

.middle{
    position: relative;
}

.middle-introduction{
    padding: 50px 140px 0;
    text-align: center;
    margin-bottom: 40px;
}

.middle-introduction h1{
    color: black;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.middle-introduction p{
    font-size: 20px;
    color: #404040;
    font-weight: normal;
}

.middle > svg{
    top:4vh;
    position: absolute;
}

.middle .left-tool{
    left:0;
}

.middle .right-tool{
    right: 0;
}

.capabilities p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.capability-container{
    display: flex;
    justify-content: space-between;
    color: #404040;
    padding-bottom: 30px;
}


.capability-list-one, .capability-list-two{
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.capability-list-one .capability .cb-img, .capability-list-two .capability .cb-img{
    float:left;
    padding-right: 15px;
}

.capability-list-one .capability, .capability-list-two .capability{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-width: 500px;
}

.middle .btn{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
